<!DOCTYPE html>
<html>
<head>
	<title>Tasker | Overall</title>
	<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta id="my-data" data-curr="{{curr}}">
</head>
<body>

<h1>Overall Stats</h1>
<div class="list-group col-md-3">
  <a href="/" class="list-group-item active">
  <span class="badge">{{processes|length}}</span>
    Overall 
  </a>
  {% for process in processes %}
	<a href="/process/{{process.pid}}" class="list-group-item">
	<span class="badge">{{process.threads}}</span>
	{{ process.name }}</a>
  {% endfor %}
</div>
<h1>{{length-1}} CPUs</h1>
{% for n in range(length) %}
	<a class="btn btn-default" href="/{{n}}" role="button">CPU {{n}}</a>
{% endfor %}
<h2>CPU {{curr}}</h2>
<div id="flot-placeholder1" class="col-md-8" style="width:600px;height:300px"></div>

<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/Flot/jquery.flot.js"></script>
<script type="text/javascript" src="/static/bower_components/Flot/jquery.flot.time.js"></script>

<script type="text/javascript" src="/static/scripts.js"></script>
</body>
</html>