<!DOCTYPE html>
<html>
<head>
	<title>Process | {{ data.name }}</title>
		<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta id="my-data" data-curr="{{curr}}" data-pid="{{data.pid}}">
</head>
<body>
<h1>Process | {{ data.name }}</h1>
<div class="list-group col-md-3">
  <a href="/" class="list-group-item active">
  <span class="badge">{{data.threads|length}}</span>
    {{ data.name }}
  </a>
  {% for thread in data.threads %}
	<a href="/thread/{{thread.pid}}" class="list-group-item">
	{{ thread.name }}</a>
  {% endfor %}
  </div>
	{% for n in range(cpu_no) %}
		<a class="btn btn-default" href="/process/{{data.pid}}/{{n}}" role="button">CPU {{n}}</a>
	{% endfor %}
	<h2>CPU {{curr}}</h2>
<div id="flot-placeholder1" class="col-md-8" style="width:600px;height:300px"></div>

	<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/Flot/jquery.flot.js"></script>
	<script type="text/javascript" src="/static/bower_components/Flot/jquery.flot.time.js"></script>
	<script type="text/javascript" src="/static/scripts-proc.js"></script>
</body>
</html>